<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What can Fabric AI help you summarize?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
            max-width: 100%;
        }
        h1 {
            font-size: 2.5rem;
        }
        .form-group, .btn {
            width: 100%;
        }
        #result {
            width: 100%;
            word-wrap: break-word;
            word-break: break-word;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            font-size: 1.2rem;
            margin-top: 0;
            padding-top: 10px;
        }
        label {
            font-size: 1.25rem;
        }
        .form-control, .btn {
            font-size: 1.2rem;
        }
        select.form-control {
            height: calc(2.5rem + 2px);
        }
        .error-message {
            color: red;
            font-size: 0.9rem;
            margin-top: 5px;
            display: none;
        }
        @media (max-width: 768px) {
            h1 {
                font-size: 1.75rem;
            }
            #result {
                font-size: 1rem;
            }
        }
        .expandable-header {
            font-size: 1rem;
            cursor: pointer;
            padding: 10px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            margin: 10px 0;
        }
        .expandable-content {
            padding: 15px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            display: none; /* Initially hidden */
        }
        .visible {
            display: block; /* Show content when visible */
        }
        .general-content {
            padding: 15px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Let's analyze some content</h1>
        <form id="apiForm">
                <div id="ai-inputs" class="general-content">
                    <div class="form-group">
                        <label for="operationtype">Operation Type</label>
                        <select class="form-control" id="operationtype" name="operationtype" required>
                            <option value="claims">Claims</option>
                            <option value="keynote">Keynote</option>
                            <option value="msummary">MSummary</option>
                            <option value="summary" selected>Summary</option>
                            <option value="essay">Essay</option>
                            <option value="wisdom">Wisdom</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="function">Function</label>
                        <select class="form-control" id="function" name="function" required onchange="functionChange()">
                            <option value="textInput">Text Input</option>
                            <option value="aivideo">AIVideo</option>
                            <option value="aiweb">AIWeb</option>
                            <option value="static" selected>Static Test</option>
                        </select>
                    </div>
                    <div class="form-group" id="textInputGroup" style="display: none;">
                        <label for="textInput">Text Input</label>
                        <textarea class="form-control" id="textInput" name="textInput" placeholder="Enter your text">{{ textInput }}</textarea>
                        <div class="error-message" id="textInputError">Text input is required.</div>
                    </div>
                
                    <div class="form-group" id="urlGroup">
                        <label for="url">URL</label>
                        <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL" value="{{ url }}">
                        <div class="error-message" id="urlError">URL is required for AIWeb and AIVideo.</div>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" id="submitBtn" onclick="submitForm()">Let's Go</button>
                </div>
            
                <div class="form-group" id="notegroup">
                    <div id="save-note" class="expandable-content">
                            <h1 class="text-center">Let's save these insights</h1>
                            <input type="hidden" name="currentfilename" value="{{ currentfilename }}">
                            <input type="hidden" name="currentfiledirectory" value="{{ currentfiledirectory }}">
                            <input type="hidden" name="fullPath" value="{{ fullPath }}">
                        

                            <!-- File Name Input -->
                            <label for="file_name">File Name:</label>
                            <input type="text" class="form-control" id="file_name" name="file_name" required>
                            <br>
                            <!-- Note Header Input -->
                            <label for="note_header">Note Header:</label>
                            <input type="text" class="form-control" id="note_header" name="note_header" required>
                            <br>
                    
                            <!-- Tags Input -->
                            <label for="tags">Tags (comma-separated):</label>
                            <input type="text" class="form-control" id="tags" name="tags" placeholder="e.g., tag1, tag2" required>
                            <br>
                    
                            <!-- Related Notes Input -->
                            <label for="related_notes">Related Notes (comma-separated):</label>
                            <input type="text" class="form-control" id="related_notes" name="related_notes" placeholder="e.g., note1, note2" required>
                            <br>
                    
                            <!-- Result (Note Content) -->
                            <label for="note_content">Note Content:</label>
                            <textarea id="note_content" class="form-control" name="note_content" rows="10" cols="50" required></textarea>
                    
                            <br>
                    
                            <!-- Save Button -->
                            <button type="button" class="btn btn-primary btn-block" onclick="saveNote()">Save Note</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        window.onload = function() {
            functionChange();
        }

        function setVisibility(elementId, action) {
            const element = document.getElementById(elementId);
            if (element) {
                if (action === 'show') {
                    element.style.display = 'block';
                } else if (action === 'hide') {
                    element.style.display = 'none';
                }
            }
        }

        function functionChange() {
            const functionSelect = document.getElementById('function');
            const textInputGroup = document.getElementById('textInputGroup');
            const urlGroup = document.getElementById('urlGroup');
        
            switch(functionSelect.value) {
                case 'textInput':
                    setVisibility('textInputGroup','show');
                    setVisibility('urlGroup','hide');
                    break;
                case 'static':
                    setVisibility('textInputGroup','hide');
                    setVisibility('urlGroup','hide');
                    break;
                default:
                    setVisibility('textInputGroup','hide');
                    setVisibility('urlGroup','show');
                    break;
            }
        }
        
        function toggleSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section.classList.contains('visible')) {
                section.classList.remove('visible');
                section.style.display = 'none';
            } else {
                section.classList.add('visible');
                section.style.display = 'block';
            }
        }




        function validateFormSubmission(selected_operationtype, selected_function, selected_text, selected_url)
        {

            //track whether form is valid
            let valid = true; 

            //Declare array to store errors during validation
            let error_message = [];

            //validate operation type was selected
            if (!selected_operationtype.value) {
                error_message.push("Operation Type is required.");
                //form is not valid
                valid = false;
            }
        
            //perform validation based upopn which function was selected
            switch(selected_function.value) {
                case 'textInput':
                    //if text is not selected
                    if (!selected_text.value) {
                        error_message.push("Text input is required");
                        //form is not valid
                        valid = false;
                    }
                    break;
                case 'static':
                    //form is valid for static, no other required fields
                    valid = true;
                    break;
                default: //aiWeb or aiVideo are left
                
                    //Make sure URL was entered
                    if (!selected_url.value) {
                        error_message.push("URL is required");
                        //form is not valid
                        valid = false;
                    }
                    break;
            }

            //return error message 
            return error_message

        }

        
        function submitForm() 
        {
            // Hide note group initially
            setVisibility('save-note', 'hide');

            //get form elements needed
            const form = document.getElementById('apiForm');
            const submitBtn = document.getElementById('submitBtn');

            // Clear the result
            document.getElementById('note_content').value = ''; // Consider where this should be cleared

            //key input fields
            const selected_operationtype = document.getElementById('operationtype');
            const selected_function = document.getElementById('function');
            const selected_text = document.getElementById('textInput');
            const selected_url = document.getElementById('url');

       
            //update the logs pre-validation
            console.log('Validating inputs');

            //track whether form is valid
            let valid = true; 

            //validate the form and collect any errors
            let error_message = validateFormSubmission(selected_operationtype, selected_function, selected_text, selected_url)

            //if there are any errors
            if (error_message.length > 0) {
                let errorMessageString = error_message.join("\n"); // Join messages with newline
                alert(errorMessageString); // Display to user
                valid = false; // Prevent form submission if errors exist
            }
            else {
                valid = true;
            }
            
            //if the form passed validation
            if (valid) {

                //Log to console for debugging
                console.log('Inputs validated successfully');
        
                //get form data
                const formData = new FormData(form);

                //Let the user know your working on the request and disable button
                submitBtn.textContent = 'Working on it...';
                submitBtn.disabled = true;
        
                //Log for debugging
                console.log('Fetching data');
        
                //Execute the api call
                fetch('/submit', {
                    method: 'POST',
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    console.log("Raw response:", response); // Log the response
                    if (!response.ok) {
                        throw new Error('Network response was not ok: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(result => {

                    //log data to console for debugging
                    console.log("Data processed:", result);
        

                    if (result.error) {
                        alert('Web Service Call Error:' + result.error);
                    } else {

                        //Get the file name
                        const fullPath = result.filename;
                        const lastSlashIndex = fullPath.lastIndexOf('/');
        
                        //Get the directory
                        const currentFileDirectory = lastSlashIndex !== -1 ? fullPath.substring(0, lastSlashIndex) : '';
                        const currentFileName = lastSlashIndex !== -1 ? fullPath.substring(lastSlashIndex + 1) : fullPath;
        
                        // Set the hidden input values for currentfilename and currentfiledirectory
                        document.querySelector('input[name="fullPath"]').value = fullPath;
                        document.getElementById('file_name').value = currentFileName;
        
                        // Update the note content with the output value                        
                        document.getElementById('note_content').value = result.output || 'No output received.';
                        
                        //alert(document.getElementById('note_content').value)

                        // Show note group
                        setVisibility('save-note', 'show');
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert('An error occurred. Please try again.');
                    //document.getElementById('note_content').value = 'An error occurred. Please try again.';
                })
                .finally(() => {
                    submitBtn.textContent = "Let's Go";
                    submitBtn.disabled = false;
                });
            }
        }
        
       

        function saveNote() {
            const file_name = document.getElementById("file_name").value;
            const note_header = document.getElementById("note_header").value;
            const tags = document.getElementById("tags").value;
            const related_notes = document.getElementById("related_notes").value;
            const note_content = document.getElementById("note_content").value;

            //alert(`fileName: ${file_name}, noteHeader: ${note_header}, noteContent: ${note_content}`);
            //alert(`tags: ${tags}, relatedNotes: ${note_content}`);

            // Send form data via AJAX to the submit_note route
            fetch('/submit_note', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    'file_name': file_name,
                    'note_header': note_header,
                    'note_content': note_content,  // Ensure this is correct
                    'tags': tags,
                    'related_notes': related_notes
                })
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Note saved successfully!');
                    } else {
                        document.getElementById('errorMessage').textContent = 'Error: ' + data.message;
                    }
                }).catch(error => {
                    document.getElementById('errorMessage').textContent = 'Error saving note: ' + error;
                });

        }


        // Call functionChange on page load to set the initial state of the text input group
        document.addEventListener('DOMContentLoaded', function() {
            functionChange(); // Call the function to set the correct visibility
        });

        function setVisibility(elementId, action) {
            const element = document.getElementById(elementId);
            if (element) {
                if (action === 'show') {
                    element.style.display = 'block';
                } else if (action === 'hide') {
                    element.style.display = 'none';
                }
            }
        }




    </script>

</body>
</html>
